<div class="profile-page">
  <div class="jumbotron"></div>
  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <p><%= image_tag current_user.avatar.url(:medium), class: "img-responsive img-rounded profile-img" %></p>
      <div class="profile-info">
        <h2><%= current_user.name %></h2>
        <p>Joined <%= @current_user.created_at.strftime("%b. %Y") %></p>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <span class="profile-welcome">Welcome <%= current_user.name %>!
        <span><%= link_to "update profile", edit_user_path(current_user), class: "btn btn-default pull-right" %></span> 
        <!-- Page Features -->
        <div class="row text-center">
          <% @paintings.each do |painting| %>
          <div class="center-block post">
            <div class="thumbnail">
                <div class="container-fluid">
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <p class="navbar-text"><a href="<%= painting_path(painting) %>"><%= painting.title %></a></p>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle glyphicon glyphicon-chevron-down" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu">
                          <li><%= link_to 'Edit', edit_painting_path(painting) %></li>
                          <li><%= link_to 'Delete', painting, method: :delete %></li>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              <img src="<%= painting.url %>" alt="">
              <div>
                <hr>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                <div class="social">
                  <a class="btn btn-default" href="<%= painting_path(painting) %>">Share</a>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <p><%= paginate @paintings %></p>
        </div>
        <!-- /.row --> 
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
