<div class="profile-page">
  <div class="jumbotron"></div>
  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <p><%= image_tag current_user.avatar.url(:medium), class: "img-responsive img-rounded profile-img" %></p>
      <div class="profile-info">
        <h2><%= current_user.name %></h2>
        <p>Joined <%= @current_user.created_at.strftime("%b. %Y") %></p>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <span class="profile-welcome">Welcome <%= current_user.name %>!
        <span><%= link_to "update profile", edit_user_path(current_user), class: "btn btn-default pull-right" %></span>  
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
</div>
