<div class="profile-page">
  <div class="jumbotron"></div>
  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <p><%= image_tag current_user.avatar.url(:medium), class: "img-responsive img-rounded profile-img" %></p>
      <div class="profile-info">
        <h2><%= current_user.name %></h2>
        <p>Joined <%= @current_user.created_at.strftime("%b. %Y") %></p>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <span class="profile-welcome">Welcome <%= current_user.name %>!
        <span><%= link_to "update profile", edit_user_path(current_user), class: "btn btn-default pull-right" %></span> 
        <!-- Page Features -->
        <div class="row text-center">
          <% @paintings.each do |painting| %>
            <div class="center-block">
              <div class="thumbnail">
                <img src="<%= painting.url %>" alt="">
                <div class="caption">
                  <hr>
                  <h3><%= painting.title %></h3>
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                  <div>
                    <a href="#" class="btn btn-primary">Share</a>
                    <%= link_to 'Edit', edit_painting_path(painting), class: "btn btn-success" %>
                    <%= link_to 'Delete', painting, method: :delete, class: "btn btn-danger" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!-- /.row --> 
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
</div>
